@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

/* Remove default margin, padding and border */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #594545;
    background-color:#fff8ea;
}

h1, h2 {
    font-family: Lato, sans-serif;
    color: #594545;
}

.light-font {
    color:#fff8ea;
}

/* Header and logo for all pages*/

header {
    height: 150px;
    width: 100%;
    border-bottom: 5px solid #594545;
}

#logo {
    font-size: 300%;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    color: #594545;
}

#navigation {
    font-size: 150%;
}

#navigation li {
    list-style-type: none;
    float: right;
    margin-right: 60px;
    margin-top: 50px;
}

#navigation a {
    text-decoration: none;
    color: #594545
}

#navigation a:hover {
    border-bottom: 2px solid #594545;
}

.active {
    border-bottom: 2px solid #594545;
}

/* About section index.html */

#about {
    background: url(../images/about-img.jpg) no-repeat center center;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 1020px;
}

#content-center {
    width: 50%;
    height: auto;
    background-color: rgba(158, 118, 118, .4);
    margin: 400px auto;
    padding: 30px;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 150%;
    text-align: center;
}

#content-center > h1 {
    margin-bottom: 15px;
}

#content-center > p {
    margin-bottom: 10px;
}

#content-center ul {
    list-style-type: none;
    font-weight: bold;
}

/* Tables for CV and education */

#experience > #experience-img {
    max-width: 100%;
    height: 1020px;
    background: url(../images/experience-img.jpg) no-repeat;
    overflow: hidden;
    object-fit: cover;
}

.experience-cv {
    width: 65%;
    height: fit-content;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(158, 118, 118, .4);
    border-radius: 15px;
    border-color: #594545;
    font-size: 110%;
}

#experience h1 {
    margin-bottom: 20px;
}

.experience-cv {
    text-align: center;
}

.table td, th {
    border: 1px solid;
    border-radius: 5px;
    border-color: #594545;
}

.experience-cv th {
    margin: 10px;
    padding: 10px 40px;
}

.experience-cv td {
    margin: 10px;
    padding: 10px 40px;
}

.education {
    width: fit-content;
}

/* Contact form */

#contact {
    width: 100%;
    height: 1020px;
}

.contact-me-image {
    width: 100%;
    height: 1020px;
    background: url("../images/contact-me.jpeg") no-repeat;
    overflow: hidden;
    background-color: #3a3a3a;
}

#contact-form {
    background-color: rgba(158, 118, 118, .4);
    color:#fff8ea;
    max-width: fit-content;
    margin: 100px 30px;
    padding: 40px;
    border-radius: 15px;
}

.input {
    background: #fff8ea;
    color: #594545;
    width: 100%;
    height: 20px;
    padding: 5px;
    border: 2px solid #594545;
    border-radius: 15px;
}

.input:hover {
    border-color: white;
}

form > h1, h2 {
    margin-bottom: 10px;
}
    
form > hr {
    margin: 10px 0;
}

.radio {
    background: #fff8ea;
    border: 1px solid #594545;
    margin-left: 10px;
}

.submit {
    margin-top: 10px;
    padding: 15px 25px;
    text-align: center;
    border: 2px solid #594545;
    background-color: #815B5B;
    color: #fff8ea;
    border-radius: 15px;
    font-size: 100%;
}

.submit:hover {
    border-color: white;
    background-color: #fff8ea;
    color: #594545;
}

/* Footer for all pages */

footer {
    width: 100%;
    height: 30px;
    margin-top: 30px;
    padding-top: 20px;    
}

footer > .social {
    text-align: center;
    font-size: 150%;
    font-weight: 500;
    font-family: Lato, sans-serif;
    padding-bottom: 70px;
}

#linkedin {
    font-size: 120%;
    color: #594545;
}

#linkedin:hover {
    border-bottom: 2px solid #594545;
}

/* Media queries */

/* For larger to medium screen size from 1200px wide and down */