@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

/* Remove default margin, padding and border */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #594545;
    background-color:#fff8ea;
}

h1, h2 {
    font-family: Lato, sans-serif;
    color: #594545;
}

/* Header and logo for all pages*/

header {
    display: block;
    height: 150px;
    width: 100%;
    border-bottom: 5px solid #594545;
}

#logo {
    font-size: 300%;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    color: #594545;
}

#navigation {
    font-size: 150%;
}

#navigation li {
    list-style-type: none;
    float: right;
    margin-right: 60px;
    margin-top: 50px;
}

#navigation a {
    text-decoration: none;
    color: #594545
}

#navigation a:hover {
    border-bottom: 2px solid #594545;
}

.active {
    border-bottom: 2px solid #594545;
}

/* About section index.html */

#about {
    width: 100%;
    height: 800px;
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 60px;
    box-sizing: border-box;
}

#content-left {
    width: 33%;
    height: auto;
    float: left;
}

#content-right {
    width: 66%;
    height: auto;
    float: right;
    background-color: rgba(158, 118, 118, .4);
    padding: 10px;
}

/* Footer for all pages */

footer {
    display: block;
    width: 100%;
    height: 150px;
    margin-top: 30px;
    padding-top: 20px;
    position: fixed;
    bottom: 50px;
    border-top: 5px solid #594545;
}

footer > div {
    text-align: center;
    font-size: 150%;
    font-weight: 500;
    font-family: Lato, sans-serif;
    padding-bottom: 70px;
}

div > hr {
    padding: 20px;
}

#linkedin {
    font-size: 200%;
    color: #594545;
}

#linkedin:hover {
    border-bottom: 2px solid #594545;
}

/* Table for CV */

/* Contact form */

#contact-form {
    background-color: rgba(158, 118, 118, .4);
    display: block;
    height: auto;
    max-width: fit-content;
    margin: 100px 30px;
    padding: 40px;
    border-radius: 15px;
}

.input {
    background: #fff8ea;
    color: #594545;
    width: 100%;
    height: 20px;
    padding: 5px;
    border: 2px solid #594545;
    border-radius: 15px;
}

.input:hover {
    border-color: white;
}

form > h1, h2 {
    margin-bottom: 10px;
}
    
form > hr {
    margin: 10px 0;
}

.radio {
    background: #fff8ea;
    border: 1px solid #594545;
    margin-left: 10px;
}

.submit {
    margin-top: 10px;
    padding: 15px 25px;
    text-align: center;
    border: 2px solid #594545;
    background-color: #815B5B;
    color: #fff8ea;
    border-radius: 15px;
    font-size: 100%;
}

.submit:hover {
    border-color: white;
    background-color: #fff8ea;
    color: #594545;
}